body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}
#navbar{
  /* background: linear-gradient(to bottom, #000000 0%, #006666 150%); */
  /* background: linear-gradient(to bottom, #000000 0%, #00cc00 220%); */
  background: #231F12;  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to bottom, #434343 0%, #000000 150%);  Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to bottom, #434343 0%, #000000 150%); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#showcase, #home-heading, #home-icons h4, #products-gallery h3,#gallery h1,#page-header h1,#about h1,#contact h3,#testimonials h2,#authors h1{
  /* font-family: 'Merriweather', serif; */
  /* font-family: 'Poppins', sans-serif; */
}
.no-padding{
  margin: 0 !important;
  padding: 0 !important;
}
.carousel-item-overlay:after {
  content:"";
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.4);
}
.companyLogo {
  max-width: 200px;
  /* max-height: 121px; */
  max-height: auto;
  margin: 0;
  padding: 0;
}
@media (max-width: 991px) {
  .companyLogo {
    max-width: 150px;
    max-height: 81px;
  }
}

.navbar .nav-link {
  font-size: small;
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .navbar-nav .nav-link:hover {
  color: #FFCC00 !important;
}
.navbar .nav-item.active {
  border-bottom: #ffcc00 3px solid;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #080d15;
  opacity: 0.3;
}

#showcase .carousel-item {
  /* height: 650px; */
  height: 100vh;
}

.carousel-caption{
  /* bottom:20%; */
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

/* .carousel-image-1 {
  background: url("../img/carousel-slider-img-03-resized.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */
@media screen and (min-width: 768px) {
  .carousel-image-1 {
    background: url("../img/carousel-slider-img-03-resized.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 767px) {
  .carousel-image-1 {
    background: url("../img/carousel-slider-img-04-resized.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.carousel-image-2 {
  background: url("../img/slider_new_01.png");
  background-size: cover;
  /* height:100vh; */
  background-repeat: no-repeat;
  background-position: center;
}

.carousel-image-3 {
  background: url("../img/inmedia1.jpg");
  background-size: cover;
  /* height:100vh; */
  background-repeat: no-repeat;
  background-position: center;
}

#home-heading {
  position: relative;
  min-height: 200px;
  background: url("../img/slider_new_01.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.home-icons-images{
  max-width:15%;
  max-height:auto;
}
#video-play {
  position: relative;
  min-height: 200px;
  background: url("../img/slider_new_01.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  /*background-position: 0 -300px;*/
  text-align: center;
  color: #fff;
}

#video-play a {
  color: #fff;
}

#page-header {
  height: 200px;
  background: url("../img/image1.jpg");
  background-position: 0 -360px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

.about-img {
  margin-top: -50px;
  margin-bottom: -50px;
}

/*
#faq .card {
  border: #444;
}
*/
#faq button {
  color: #fff;
  text-decoration: none;
  font-size: large;
  font-weight: 500;
}
/*
#faq .card-body,
#faq .card-header {
  background: #333;
}*/

#main-footer {
  background: #000;
  color: #fff;
}
#main-footer i {
  color: #FFCC00;
  font-size: larger;
}

#footer-call-to-action{
  background:#4E5652;
  color: #FFCC00;
}
/*Updated*/
section#contact {
  background-image: url("../img/bg-map.svg");
  /*background: #f5f5f5 no-repeat top center scroll;*/
  background-size: 100% auto;
  padding-bottom: 0;
}

.special-card {
  background-color: rgba(245, 245, 245, 1);
  opacity: 0.9;
}

#authors img {
  margin-top: -50px;
  border: 2px solid #333;
}
#authors .card:hover {
  /* background: #FFCC00;
  color: #fff; */
  transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  cursor: pointer;
}
#authors .card .bi{
  font-size: 30px;
}
#authors .card:hover .bi {
  color: #000;
}
.custom-img-bg{
  background-color: #000;
}
.custom-text-grey{
  color: #585858;
}
.custom-btn-danger {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1.5rem;
	line-height: 1.5;
	border-radius: .25rem;
	color: #000;
  background-color: #ffcd05;
	/* background-color: #dba23f; */
}
.custom-btn-danger:hover{
  	background-color: #dba23f;
    color: #fff;
}

/* .custom-btn-danger{
  background-color: #b07f2a; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.custom-btn-danger:hover {
background-color: #a17528;
color: white;
} */
/* .custom-shadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */
/* #products-gallery{
  background
} */

/* Whatsapp Button */
.watsapp-button-float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}
